<div>
	<div id="mySidenav" class="sidenav">
        <p class="logo"><span>E</span>Book</p>
      <a href="/admin/dashboard" class="icon-a"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Admin Dashboard</a>
      <a href="/admin/add-user-page"class="icon-a"><i class="fa fa-list icons"></i> &nbsp;&nbsp;Add Users</a>
      <a href="/admin/users-view"class="icon-a"><i class="fa fa-user ico"></i> &nbsp;&nbsp;view user</a>
      <a href="/admin/customer-orders"class="icon-a"><i class="fa fa-shopping-bag icons"></i> &nbsp;&nbsp;Orders</a>
      <a href="/admin/customer-completed-orders"class="icon-a"><i class="fa fa-shopping-bag icons"></i> &nbsp;&nbsp;Completed Orders</a>
      <a href="/admin/view-all-books"class="icon-a"><i class="fas fa-book-open"></i> &nbsp;&nbsp;Books</a>
      <a href="/"class="icon-a"><i class="fab fa-intercom"></i></i> &nbsp;&nbsp;Customers view</a>
      <a href="/admin/view-all-blogs"class="icon-a"><i class="fa fa-list-alt icons"></i> &nbsp;&nbsp;All Blogs</a>
      <div class="dropdown">
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/admin/add-blogs-form">1. Add post</a>
          <a class="dropdown-item" href="#">2. Manage post</a>
        </div>
      </div>
    
      <a href="/admin/add-books-form"class="icon-a"><i class="fa fa-list-alt icons"></i> &nbsp;&nbspAdd new Book</a>
      <form id="logout" action="/logout" method="POST">
        <a onclick="document.getElementById('logout').submit()" href="#">Log out</a>
       </form>
      <!-- <a href="#"class="icon-a"><i class="fa fa-sign-out icons"></i> &nbsp;&nbsp;Log out</a> -->
    
    </div>
</div>
