<%- include('./dashboard.ejs') %>

<div>
    <div id="main">
    
    <%- include('./head.ejs') %>
    
        <div class="clearfix"></div>
        <br/>
    
      
        
        <div class="col-div-3">
            <div  class="box">
                <p>0<br/><span>customer</span></p>
                <i class="fa fa-users box-icon"></i>
            </div>
        </div>
    
        <div class="col-div-3">
            <div class="box">
                <p>0<br/><span>user</span></p>
                <i class="fa fa-user box-icon"></i>
            </div>
        </div>
    
        <div class="col-div-3">
            <div class="box">
                <p>0<br/><span>Orders</span></p>
                <i class="fa fa-shopping-bag box-icon"></i>
            </div>
        </div>
    
        <div class="col-div-3">
            <div class="box">
                <p>0<br/><span>New Arrival post</span></p>
                <i class="fa fa-product-hunt box-icon"></i>
            </div>
      </div>
    
      <br/>
    
        <div class="col-div-6">
          <div  class="box">
            <p>0<br/><span>New Featured post</span></p>
            <i class="fa fa-tasks box-icon"></i>
          </div>
      </div>
    
          <div class="col-div-6">
            <div class="box">
              <a href="blogpost.html" tagret="_blank"> <p>0<br/><span>Blog post</span> </a>
            </div>
              <i class="fa fa-tasks box-icon"></i>
            </div>
    
            <div class="col-div-6">
                <div class="box">
                  <p>0<br/><span>Add new Book</span></p>
                  <i class="fa fa-tasks box-icon"></i>
                </div>
      </div>
    </div>
</div>