<%- include('./dashboard.ejs') %>
<div id="main" class="admin-order-page order-page">
    <%- include('./head.ejs') %>
    <table>
        <thead>
        <tr>
            <th>Order Details</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Order Status</th>
            <th>Order Date</th>
            <th>Order Time</th>
        </tr>
        </thead>
        <tbody id="orderTableBody"> 
        </tbody>
    </table>
</div>

<script src="/socket.io/socket.io.js"></script>