<%- include('./header.ejs') %>
<div class="order-page">
    <table>
        <thead>
        <tr>
            <th>Order Details</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Order Status</th>
            <th>Order Date</th>
            <th>Order Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href=""><p class="order-id">19389184819240813740</p></a>
                <div class="order-info"><p>Porn book - 2</p></div>
            </td>
            <td>Muhtasim Fuad Fahim</td>
            <td>muhtasim.fahim.98@gmail.com</td>
            <td>01744866688</td>
            <td>Order Placed</td>
            <td>10/01/2022</td>
            <td>9:28 PM</td>
        </tr>
        <tr>
            <td>
                <a href=""><p class="order-id">19389184819240813740</p></a>
                <div class="order-info"><p>Porn book - 2</p></div>
            </td>
            <td>Muhtasim Fuad Fahim</td>
            <td>muhtasim.fahim.98@gmail.com</td>
            <td>01744866688</td>
            <td>Order Placed</td>
            <td>10/01/2022</td>
            <td>9:28 PM</td>
        </tr>
        </tbody>
    </table>
</div>